<%- include('partials/head.ejs') %>
    <title>Message board</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main class="homepage-main">

        <section class="hero-container">
          <h1>Members-only message board</h1>
          <% if (!currentUser) { %>
            <h3><a href="#login">Log in to post a new message</a></h3>
          <% } else { %>
            <h3>Welcome, <%= currentUser.firstName %>!</h3>
          <% } %>
        </section>

        <section class="messages-container">
          
          <% if (messages) { %>
            <%              
            let date = '';
            let now = Date.now();
            %>       
            <% for( let i = 0; i < messages.length; i++ ) { %>

              <div class="message-card">
                <div class="message-title">
                  <h3><%= messages[i].title %></h3>
                </div>
                <div class="message-content">
                  <p><%= messages[i].content %></p>
                </div>
                <div class="message-footer">
                  <p>
                    <% if (currentUser && currentUser.membershipStatus === true) { %>
                      <span>Posted by <%= messages[i].author.username %></span>
                    <% } else { %>
                      <span>Posted by <em>hidden</em></span>                    
                    <% } %>
                    
                    <% 
                    let diffDays = differenceInDays(now, messages[i].timestamp)
                    let diffHours = differenceInHours(now, messages[i].timestamp)
                    if (diffDays > 7) {
                      date = 'on ' + format(messages[i].timestamp, 'do MMM yyyy');
                    } else if (diffDays > 1) {
                      date = diffDays + ' days ago';
                    } else if (diffHours > 1) {
                      date = diffHours + ' hours ago';
                    } else if (diffHours === 1) {
                      date = diffHours + ' hour ago';
                    } else {
                      date = differenceInMinutes(now, messages[i].timestamp) + ' minutes ago';
                    }                  
                    %> 
                    <span><%= date %></span>
                  </p>
                </div>
              </div>

            <% } %>
          <% } %>
        </section>
    </main>

    
<%- include('partials/footer.ejs') %>