<%- include('partials/head.ejs') %>
    <title>Message board</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main class="homepage-main">
      
        <section class="hero-container">
          <h1>Members-only message board</h1>
          <h3>Sign in to post a new message</h3>
        </section>

        <section class="messages-container">
          
          <% if (messages) { %>
            <%              
            let date = '';
            let now = Date.now();
            %>       
            <% for( let i = 0; i < messages.length; i++ ) { %>

              <div class="message-card">
                <div class="message-title">
                  <h3><%= messages[i].title %></h3>
                </div>
                <div class="message-content">
                  <p><%= messages[i].content %></p>
                </div>
                <div class="message-footer">
                  <p>
                    <% if (currentUser) { %>
                      <span>Posted by <%= messages[i].author.username %></span>
                    <% } else { %>
                      <span>Posted by <em>hidden</em></span>                    
                    <% } %>
                    
                  <% 
                  let differenceDays = differenceInDays(now, messages[i].timestamp)
                  let differenceHours = differenceInHours(now, messages[i].timestamp)
                  if (differenceDays > 7) {
                    date = 'on ' + format(messages[i].timestamp, 'do MMM yyyy');
                  } else if (differenceDays > 1) {
                    date = differenceDays + ' days ago';
                  } else if (differenceHours > 1) {
                    date = differenceHours + ' hours ago';
                  } else if (differenceHours === 1) {
                    date = differenceHours + ' hour ago';
                  } else {
                    date = differenceInMinutes(now, messages[i].timestamp) + ' minutes ago';
                  }                  
                  %> 
                    <span><%= date %></span>
                  </p>
                </div>
              </div>

            <% } %>
          <% } %>
        </section>
    </main>

    
<%- include('partials/footer.ejs') %>