<%- include('partials/head.ejs') %>
    <title><%= title %> | Book repository</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <section class="joinclub-container">      
      <div>
        <h1><%= title %></h1>
        <p class="passcode-description">Type in the 'secret-passcode' to be able to see the author of the messages</p>
      </div>
      <form action="" method="POST">
          <div class="form-group">
              <label for="clubPasscode">Passcode</label>
              <input name="clubPasscode" placeholder="Passcode" type="password" id="clubPasscode" required>
          </div>
          <button>Join the club</button>
      </form>
    </div>
    
<%- include('partials/footer.ejs') %>