<%- include('partials/head.ejs') %>
    <title><%= title %> | Message board</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

  <% if (currentUser.membershipStatus === true ) { %>
    <div class="already-a-member">
      <p>You are already a member of the club.</p>
      <p>The author of each post on the home page should be visible.</p>
    </div>     
  <% } else { %>
    <section class="joinclub-container">      
      <div>
        <h1><%= title %></h1>
        <p class="passcode-description">Type in the 'secret-passcode' to be able to see the author of each post.</p>
        <% if (typeof message != 'undefined') { %>
          <p class="wrongpasscode"><%= message %></p>
        <% } %>
      </div>
      <form action="" method="POST">
          <div class="form-group">
              <label for="clubPasscode">Passcode</label>
              <input name="clubPasscode" placeholder="Passcode" type="password" id="clubPasscode" required>
          </div>
          <button>Join the club</button>
      </form>
    </section>
  <% } %>
    
<%- include('partials/footer.ejs') %>